package templates

import "SANCHEZ-CREW/internal/components"

templ LandingPage() {
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>The Sanchez Crew</title>
  </head>
  <body>
    @components.HeaderTemplate()
    <main>
      <p> This is a main</p>
    </main>
  </body>
  </html>
}