package components

templ HeaderTemplate() {
  <header class='heading'>
  <div class='title'>
    <h2>The Sanchez Crew</h2>
  </div>
  <div class='hero'>
    <h1>Lawncare <br/> &amp Landscape Management</h1>
  </div>
  </header>
}